@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #0c0c0c;
  color: #bbb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  color: white;
}

.center {
  @apply grid min-h-[calc(100vh-218px)] place-items-center;
}

.btn-transparent {
  @apply bg-transparent px-2 py-1 outline outline-1 outline-gray-800 hover:bg-black/90 md:px-3 md:py-2;
}

.btn-primary {
  @apply bg-gray-300 px-2 py-1 text-black outline outline-1 outline-gray-700 transition-colors duration-300 hover:bg-transparent hover:text-inherit md:px-3 md:py-2;
}
